
* {
    -type-normal: #C3B59B;
    -type-feu: #F7941F;
    -type-eau: #00AEED;
    -type-plante: #35B44B;
    -type-electrik: #FAEB30;
    -type-glace: #A3DCF7;
    -type-combat: #BC1E2C;
    -type-poison: #91288D;
    -type-sol: #FFCC69;
    -type-vol: #C2B7D9;
    -type-psy: #EC2B7A;
    -type-insecte: #AACF4E;
    -type-roche: #C39A6E;
    -type-spectre: #877299;
    -type-dragon: #4D2F8F;
    -type-tenebre: #3E2417;
    -type-acier: #A1ABB4;
    -type-fee: #F392BD;
    -pokeball-red: #FF3231;
    -pokeball-darkred: #ba222f;
    -pokeball-gradient: linear-gradient(to top, -pokeball-red, -pokeball-darkred);
}

.pilule-type {
    -fx-padding: 5px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-min-width: 65px;
    -fx-pref-width: 100px;
    -fx-alignment: center;
    -fx-border-width: 3px;
    -fx-border-color: #90adcb;
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
}

.normal {
    -fx-background-color: -type-normal;
    -fx-text-fill: black;
}

.feu {
    -fx-background-color: -type-feu;
    -fx-text-fill: white;
}

.eau {
    -fx-background-color: -type-eau;
    -fx-text-fill: white;
}

.plante {
    -fx-background-color: -type-plante;
    -fx-text-fill: white;
}

.electrik {
    -fx-background-color: -type-electrik;
    -fx-text-fill: black;
}

.glace {
    -fx-background-color: -type-glace;
    -fx-text-fill: black;
}

.combat {
    -fx-background-color: -type-combat;
    -fx-text-fill: white;
}

.poison {
    -fx-background-color: -type-poison;
    -fx-text-fill: white;
}

.sol {
    -fx-background-color: -type-sol;
    -fx-text-fill: white;
}

.vol {
    -fx-background-color: -type-vol;
    -fx-text-fill: white;
}

.psy {
    -fx-background-color: -type-psy;
    -fx-text-fill: white;
}

.insecte {
    -fx-background-color: -type-insecte;
    -fx-text-fill: white;
}

.roche {
    -fx-background-color: -type-roche;
    -fx-text-fill: white;
}

.spectre {
    -fx-background-color: -type-spectre;
    -fx-text-fill: white;
}

.dragon {
    -fx-background-color: -type-dragon;
    -fx-text-fill: white;
}

.tenebre {
    -fx-background-color: -type-tenebre;
    -fx-text-fill: white;
}

.acier {
    -fx-background-color: -type-acier;
    -fx-text-fill: white;
}

.fee {
    -fx-background-color: -type-fee;
    -fx-text-fill: white;
}

.test {
    -fx-background-color: black;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.numPokedex {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-fill: blue;
}

.stats {
    -fx-font-weight: bold;

}

.sous-titre {
    -fx-font-size: 1em;
    -fx-text-fill: D9D7D7;
}

.cadre-image {
    -fx-background-color: #C8C8C8;
    -fx-background-radius: 50px;
    -fx-border-color: #DB8088;
    -fx-border-width: 5px;
    -fx-border-radius: 50px;
    -fx-padding: 10px;
}

.barre-recherche {
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-pref-height: 3em;
    -fx-padding: 0px 20px;
    -fx-background-color: #ABABAB;
}

.boite-haut {
    -fx-border-color: black;
    -fx-background-color: -pokeball-gradient;
    -fx-border-width: 15px 0;
}

.titre {
    -fx-font-size: 3em;
    -fx-font-weight: bold;
    -fx-padding: 10px 0 0 0;
    -fx-text-fill: whitesmoke;
}

.carte-pokemon {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color: #87CDE6;
    -fx-border-width: 5px;
    -fx-padding: 30px 10px 10px 10px;
    -fx-background-color: D9D9D9;

}

.ligne-separation {
    -fx-padding: 10px 0 0 0;
}

.separator .line {
    -fx-border-color: transparent;
    -fx-background-color: linear-gradient(to right,
    transparent 0%,
    #b3b3b3 5%,
    #b3b3b3 95%,
    transparent 100%
    );
    -fx-padding: 10px 0;
    -fx-pref-height: 3px;
}

.ligne-separation .line {
    -fx-border-color: #cccccc;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.nom-pokemon {
    -fx-font-weight: bold;
    -fx-font-size: 3em;
    -fx-text-fill: black;
}

.id-pokemon {
    -fx-text-fill: #E11628;
    -fx-font-size: 2em;
}

.progress-bar {
    -fx-background-color: transparent;
}

.progress-bar > .track {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: #53616c;
}

.progress-bar > .bar {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: -pokeball-gradient;
}

.list-view {
    -fx-background-color: transparent;
    -fx-border-color: #86cbe4;
    -fx-border-radius: 20px;
    -fx-border-width: 4px;
}

.list-cell, .list-cell:focused {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color: transparent;
    -fx-border-width: 4px 0px;
    -fx-background-insets: 2px;
}

.list-cell:even {
    -fx-background-color: #dddddd;
}

.img-liste {
    -fx-margin: 100px;
}

.list-cell:odd {
    -fx-background-color: #cdcdcd;
}

.list-cell:hover {
    -fx-background-color: #90adcb;
}

.btn-capturer {
    -fx-background-color: -pokeball-gradient;
    -fx-border-width: 4px;
    -fx-border-color: black;
    -fx-border-radius: 25px;
    -fx-background-radius: 21px;
    -fx-background-insets: 4px;
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: "Carter One";
}

.btn-capturer:hover {
    -fx-background-color: linear-gradient(to top, #edd12d, #daa22f);
    -fx-text-fill: black;
}

.statut {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: -pokeball-gradient;
    -fx-border-width: 15 0 0 0;
    -fx-padding: 10 0 10 0 ;
    -fx-max-width: infinity;
    -fx-alignment: center;
}

.message-erreur {
    -fx-text-fill: #edd12d;
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-padding: 0 0 5px 0;
}

.titre-statistiques {
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
}